---
layout: page
title: Resum&eacute;
slug: resume
function: $('.lightbox').imagelightbox();
---

<div class="headshots">
    <a href="/img/headshots/alt/large/main.jpg" class="lightbox">
      <img class="thumbnail" src="/img/headshots/alt/thumbnail/main.jpg" alt="" />
    </a>
    <a href="/img/headshots/alt/large/character.jpg" class="lightbox">
      <img class="thumbnail" src="/img/headshots/alt/thumbnail/character.jpg" alt="" />
    </a>
    <a href="/img/headshots/alt/large/severe.jpg" class="lightbox">
      <img class="thumbnail" src="/img/headshots/alt/thumbnail/severe.jpg" alt="" />
    </a>
    <a href="/img/headshots/alt/large/grin.jpg" class="lightbox">
      <img class="thumbnail" src="/img/headshots/alt/thumbnail/grin.jpg" alt="" />
    </a>

</div>

<div class="resume-content">
  <div class="section section-stats">
    <dl class="stats">
      <dt>Height</dt>
      <dd>5'10"</dd>

      <dt>Weight</dt>
      <dd>165 lbs</dd>

      <dt>Voice</dt>
      <dd>Tenor</dd>
    </dl>
  </div>

  <div class="section section-stage">
      <h2 class="section-heading">Stage</h2>
      <div class="credits">
        {% for prod in site.data.work.productions.stage %}
        {% if prod.resume %}
          <div class="row">
            <span>{{ prod.title }}</span>
            <span>{{ prod.role }}</span>
            <span>{{ prod.company.name }}</span>
            <span>{{ prod.director }}</span>
          </div>
        {% endif %}
        {% endfor %}
      </div>

  </div>

  <div class="section credits section-screen">
      <h2 class="section-heading">Screen</h2>
      <div class="credits">
        {% for prod in site.data.work.productions.screen %}
        {% if prod.resume %}
          <div class="row">
            <span>{{ prod.title }}</span>
            <span>{{ prod.role }}</span>
            <span>{{ prod.company.name }}</span>
            <span>{{ prod.director }}</span>
          </div>
        {% endif %}
        {% endfor %}

      </div>
      <div class="explainer">* Emmy Award Nominated</div>
    </div>


  <div class="section section-training">
      <h2 class="section-heading">Training</h2>
      <div>BFA Music Theatre: Illinois Wesleyan University</div>

      <div class="voice-training">
        <h3>Voice:</h3>
        <ul>
          <li>Sandra DeAthos</li>
          <li>Dr. Lee Snook</li>
          <li>Jeff Miller</li>
        </ul>
      </div>

      <div class="acting-training">
        <h3>Acting:</h3>
        <ul>
          <li>Tom Ossowski</li>
          <li>Sandra Lindberg</li>
          <li>Roger Bechtel</li>
          <li>Nancy Loitz</li>
        </ul>
      </div>
  </div>

  <div class="section section-skills">
      <h2 class="section-heading">Special Skills</h2>
      <div>
        Guitar, Basic Rock Piano, Dialects<br />
        Fight Captain, Rapier and Dagger, Broadsword
      </div>
  </div>
</div><!-- resume -->
