---
layout: basic
title: home
---
<header class="front-page-header">
  <div class="header-picture">
    <div class="crop-wrap">
      <div class="crop center"></div>
    </div>
  </div>
  <div class="title-and-nav">
    <h1 class="site-title">Don Denton</h1>
    <nav>
      {% include nav.html %}
    </nav>
  </div>
</header>

<div class="announcements">
  <ul>
    <li><strong>May 25 - July 4:</strong> Don stars as Robert Kincaid in <em>The Bridges of Madison County</em> at <a href="http://circa21.com">Circa '21 Dinner Playhouse</a></li>
    <li><strong>July 27 - Aug 2:</strong> Don plays Corny Collins in <em>Hairspray</em> at <a href="https://www.kcstarlight.com/events/broadway">The Kansas City Starlight Theatre</a></li>
    <li><strong>May 25 - July 4:</strong> Don returns to the <a href="http://circa21.com">Circa '21</a> stage again in the comedic straight play, <em>Mama Won't Fly</em>
      </li>
  </ul>
</div>

{% for praise in site.data.praise %}

  <aside class="quote">

    {% if praise.image %}
      <img src="{{ praise.image }}">
    {% endif %}

    <blockquote {% if praise.long %}class="long"{% endif %}>
      {{ praise.quote | markdownify }}
    </blockquote>
    <div class="credit">&mdash;{{ praise.credit }}</div>
  </aside>

{% endfor %}

{% include footer.html %}
