---
layout: basic
title: home
---
<header class="front-page-header">
  <div class="header-picture">
    <div class="crop-wrap">
      <div class="crop center"></div>
    </div>
  </div>
  <div class="title-and-nav">
    <h1 class="site-title">Don Denton</h1>
    <nav>
      {% include nav.html %}
    </nav>
  </div>
</header>

<div class="announcements">
  <ul>
    <li><strong>Soon:</strong> Don appears as Robbie Fay in <em>A Man of No Importance</em> (and more) for <a href="http://postplayhouse.com">Post Playhouse's 2015 Summer Season</a></li>
  </ul>
</div>

{% for praise in site.data.praise %}

  <aside class="quote">
    
    {% if praise.image %}
      <img src="{{ praise.image }}">
    {% endif %}
    
    <blockquote {% if praise.long %}class="long"{% endif %}>
      {{ praise.quote | markdownify }}
    </blockquote>
    <div class="credit">&mdash;{{ praise.credit }}</div>
  </aside>

{% endfor %}

{% include footer.html %}
