@charset "utf-8";



// Our variables
$base-font-family: "ff-tisa-web-pro", serif;
$base-font-size:   16px;
$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.5;

$spacing-unit:     30px;

$text-color:       #111;
$background-color: #fdfdfd;
$brand-color:      #6B90B5;

$grey-color:       #828282;
$grey-color-light: lighten($grey-color, 40%);
$grey-color-dark:  darken($grey-color, 25%);

$on-palm:          600px;
$on-laptop:        800px;

$accent-color:     #6B90B5;




//
$main-pad: 1em;
$alt-font-family: "proxima-nova", sans-serif;

@import
        "compass/utilities/general/clearfix",
        "susy",
        "breakpoint",

        "mixins",
        "base",
        "layout",
        "resume"
;


// Don's Styles
